/* icons font-face */

html.js form#filters input[type="submit"] {
	display: none;
}

#spinner {
	float: right;
	width: 4rem;
	height: 4rem;
	margin-right: 1rem;
	opacity: 0;
}

#spinner,
ul#container li {
	transition: opacity 1s linear;
}

#filters {
	margin-top: .5rem;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}

#filters fieldset {
	margin: 0 1rem 1rem 0;
}

#filters input[type='reset'],
#filters input[type='submit'] {
	margin: 0 1rem 0 0;
}

#filters input:not([type='reset']):not([type='submit']),
#filters select {
	padding: .125rem .5rem;
}

#filters input[type='reset'],
#filters input[type='submit'] {
	padding: .25rem 1rem;
}

#filters fieldset.buttons {
	flex-grow: 1;
	text-align: right;
}

/* reset */
ul.ft-menu,
ul.ft-menu * {
	margin: 0;
	border: 0;
	padding: 0;
	line-height: 1;
	position: relative;
	text-align: left;
    font: normal normal 100% sans-serif;
    text-transform: capitalize;
}


ul.ft-menu {
	list-style: none;
}

ul.ft-menu > li.ft-field {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: 30px;
	background: none !important;
	position: relative !important;
}

ul.ft-menu > li.ft-field > span.ft-label {
    cursor: pointer;
}
ul.ft-menu > li.ft-field > span.ft-label:before {
    font-family: "FiltrifyRegular";
    content: "\25CF";
    color: red;
    display: inline-block;
    *display: inline;
	*zoom: 1;
    width: 20px;
}
ul.ft-menu > li.ft-field > span.ft-label:after {
    font-size: 80%;
    content: " \25bc";
}
ul.ft-menu > li.ft-field > span.ft-label.ft-active:before {
    content: "\25CF";
    color: green;
}
ul.ft-menu > li.ft-field > span.ft-label.ft-opened:after {
    content: " \25b2";
}

ul.ft-menu > li.ft-field > div.ft-panel {
	position: absolute;
	min-width: 400px;
	background-clip: padding-box;
	border: 5px solid #333333;
	border: 5px solid rgba(0, 0, 0, 0.3);
	top: 100%;
	margin-top: 15px;
	left: 100%;
	margin-left: -105px;
	z-index: 9999;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
ul.ft-menu > li.ft-field > div.ft-panel:before,
ul.ft-menu > li.ft-field > div.ft-panel:after {
	position: absolute;
	content: " ";
	height: 0;
	width: 0;
	left: 10%;
}
ul.ft-menu > li.ft-field > div.ft-panel:before {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #333333;
	border-bottom: 10px solid rgba(0, 0, 0, 0.3);
	top: -15px;
	margin-left: -10px;
}
ul.ft-menu > li.ft-field > div.ft-panel:after {
	content: " ";
	height: 0;
	width: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #F5F3EE;
	top: -8px;
	margin-left: -8px;
}

ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-selected {
	padding: 10px 10px 0 10px;
	background: #F5F3EE;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-selected > li {
	font-size: 10px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 1px;
	cursor: pointer;
	padding: 0px 5px 1px 5px;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	border: 1px solid #057ED0;
	border: 1px solid rgba(5, 126, 208, 0.7);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	background: #019AD2;
	background: -webkit-linear-gradient(#33BCEF, #019AD2);
	background: -moz-linear-gradient(#33BCEF, #019AD2);
	background: -o-linear-gradient(#33BCEF, #019AD2);
	background: -ms-linear-gradient(#33BCEF, #019AD2);
	background: linear-gradient(#33BCEF, #019AD2);
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-selected > li:after {
	content: " \00D7";
	color: white;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-selected > li:active {
	background: #33BCEF;
	background: -webkit-linear-gradient(#019AD2, #33BCEF);
	background: -moz-linear-gradient(#019AD2, #33BCEF);
	background: -o-linear-gradient(#019AD2, #33BCEF);
	background: -ms-linear-gradient(#019AD2, #33BCEF);
	background: linear-gradient(#019AD2, #33BCEF);
}

ul.ft-menu > li.ft-field > div.ft-panel > fieldset.ft-search {
	padding: 10px;
	background: #F5F3EE;
	background: -webkit-linear-gradient(#F5F3EE, #D0CDC9);
	background: -moz-linear-gradient(#F5F3EE, #D0CDC9);
	background: -o-linear-gradient(#F5F3EE, #D0CDC9);
	background: -ms-linear-gradient(#F5F3EE, #D0CDC9);
	background: linear-gradient(#F5F3EE, #D0CDC9);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="#F5F3EE", EndColorStr="#D0CDC9");
}
ul.ft-menu > li.ft-field > div.ft-panel > fieldset.ft-search:before {
	font: normal normal 12px "FiltrifyRegular";
	content: "";
	position: absolute;
    width: 20px;
	bottom: 15px;
	left: 18px;
	color: #BBB;
	text-shadow: none;
	z-index: 1;
}
ul.ft-menu > li.ft-field > div.ft-panel > fieldset.ft-search > input {
	outline: none;
	display: block;
	width: 90%;
	padding: 4px 10px 4px 25px;
	color: gray;
	background: white;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.4), inset 0 1px 0 rgba(0,0,0,.3);
}

ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags {
	position: relative !important;
	max-height: 200px !important;
	border-top: 1px solid #33373D;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags > li {
    font-size: 12px;
	display: block;
	border-bottom: 1px solid #33373D;
	box-shadow: inset 0 1px 0 0 #878e98;
	display: block;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	padding: 8px 35px 8px 15px;
	cursor: pointer;
	background: #616975;
	background: -webkit-linear-gradient(#727A86, #505864);
	background: -moz-linear-gradient(#727A86, #505864);
	background: -o-linear-gradient(#727A86, #505864);
	background: -ms-linear-gradient(#727A86, #505864);
	background: linear-gradient(#727A86, #505864);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="#727a86", EndColorStr="#505864");
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags > li:after {
	content: attr(data-count);
    font-size: 11px;
    font-weight: normal;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -9px;
	padding: 3px 6px;
	color: white;
	background: #48515C;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags > li.ft-highlight {
	border-bottom: 1px solid #103C56;
	box-shadow: inset 0px 1px 0px 0px #6ad2ef;
	background: #35AFE3;
	background: -webkit-linear-gradient(#45C7EB, #2698DB);
	background: -moz-linear-gradient(#45C7EB, #2698DB);
	background: -o-linear-gradient(#45C7EB, #2698DB);
	background: -ms-linear-gradient(#45C7EB, #2698DB);
	background: linear-gradient(#45C7EB, #2698DB);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="#45c7eb", EndColorStr="#2698db");
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags > li.ft-highlight:active {
	background: -webkit-linear-gradient(#2698DB, #45C7EB);
	background: -moz-linear-gradient(#2698DB, #45C7EB);
	background: -o-linear-gradient(#2698DB, #45C7EB);
	background: -ms-linear-gradient(#2698DB, #45C7EB);
	background: linear-gradient(#2698DB, #45C7EB);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="#2698DB", EndColorStr="#45C7EB");
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags > li.ft-highlight:after {
	background: #2173A1;
}

ul.ft-menu > li.ft-field > div.ft-panel > div.ft-mismatch {
    font-size: 11px;
	padding: 10px 15px;
	color: white;
	background: #555555;
	background: -webkit-linear-gradient(#555555, #333333);
	background: -moz-linear-gradient(#555555, #333333);
	background: -o-linear-gradient(#555555, #333333);
	background: -ms-linear-gradient(#555555, #333333);
	background: linear-gradient(#555555, #333333);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="#555555", EndColorStr="#333333");
}

/* REQUIRED! */
.ft-hidden { display: none !important; }


/* Custom webkit scrollbars */
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags::-webkit-scrollbar {
    width: 10px;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    background: #DDD;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags::-webkit-scrollbar-thumb {
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    background: #EEE;
}

ul.ft-menu > li.ft-field {
  border: 2px solid #CCC;
  line-height: 10px;
  padding: 5px 9px;
  margin: 5px;
}

ul#container > li {
display: inline-block;
width: 23em;
vertical-align: top;
}

ul#container > li > p {
  margin-bottom: 0;
}

ul.taglist li{
  display: inline-block;
  color: black;
  font-size: 12px;
  line-height: 10px;
  padding: 4px 9px;
  margin: 2px;
  cursor: pointer;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
ul.editorlist {
  padding-left:20px;
}
ul.editorlist li {
  display: inline;
  color: black;
  font-size: 12px;
  line-height: 10px;
}
ul.editorlist li:after {
  content: ", ";
}
ul.editorlist li:last-child:after {
  content: "";
}
div#triggers > span {
  margin-right: 30px;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 5px 15px;
  border: none;
  display: inline-block;
  color: #2e2e2e;
  background-color: rgba(0, 0, 0, 0.05);
}
div#triggers > span:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.selected {
  color: #2D3743;
  font-weight: bold;
  cursor: default !important;
  background-color: rgba(0, 0, 0, 0.1);
}

div#filters {
	width: 100%;
	padding: .5rem 0;
	background-color: #ffffff;
}

@media (min-width: 768px) {
	#filters.stuck {
		position: fixed;
		top: 0;
		left: 22.5%;
		width: 72%;
		box-shadow: 0 1rem 1rem -1rem #808080;
	}
}

div#placeHolder::before{
  content: "Filters: ";
  font-weight: bold;
}

div#placeHolder > ul {
  display: inline-block;
}

.Retired::after,.LastCall::after,.WorkingDraft::after,.CandidateRecommendation::after,.ProposedRecommendation::after,.Recommendation::after,.GroupNote::after,.ProposedEditedRecommendation::after, .ObsoleteRec::after {
  margin-left: 15px;
  background-color: #036;
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 15px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
  vertical-align: middle;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.Retired::after {content: "\52\65\74\69\72\65\64";}
.LastCall::after {content: "\4C\43";}
.WorkingDraft::after {content: "\57\44";}
.CandidateRecommendation::after {content: "\43\52";}
.ProposedRecommendation::after {content: "\50\52";}
.Recommendation::after {content: "\52\45\43";}
.GroupNote::after {content: "\4E\6F\74\65";}
.ProposedEditedRecommendation::after {content: "\50\45\52";}
.ObsoleteRec::after {content: "\4F\42\53\4C";}

div#legend > p > em {
  margin-right: 5px;
  color: #2D3743;
}

p.deliverer, p.deliverer + p {
  padding-top:0;
}

p.deliverer {
  text-decoration: underline;
}

input#search {
	border: 2px solid #CCC;
	padding: 5px 9px;
	margin: 5px;
    height: 21px; /*added to normalise w.r.t other boxes*/
    background: none !important;
}

/* == Cosmetic enhancements == */

h2.WorkingDraft, h2.Retired, h2.LastCall, h2.CandidateRecommendation, h2.ProposedRecommendation, h2.Recommendation, h2.GroupNote, h2.ProposedEditedRecommendation, h2.ObsoleteRec{
    font-size: 150%;
    line-height: 1.1em;
    margin-bottom: 0.6em;
}

ul.taglist{margin: 5px 0 25px;}

ul#container > li::before {
    content: "";
    display: block;
    width: 80%;
    padding-top: 10px;
    border-top: 1px solid #d2cfcf;
}

li.accessibility {background-color: #ede5f4}
li.aria {background-color: #a8c5a9}
li.audio {background-color: #a6b2ef}
li.atag {background-color: #88bcc7}
li.automotive {background-color: #e5e1de}
li.htmlbp {background-color: #dbe9df}
li.ccpp {background-color: #dba6a2}
li.ct {background-color: #c6e1cf}
li.css {background-color: #a7cd78}
li.cssmobile {background-color: #d0e876}
li.csv {background-color: #b093b6}
li.dataontheweb {background-color: #94c4b4}
li.dcci {background-color: #f8d7de}
li.dwa {background-color: #b5f0f5}
li.ddr {background-color: #b4bbfa}
li.deviceindependenceauthoring {background-color: #fcf4b5}
li.digipub {background-color: #99b8d6}
li.dom {background-color: #e48497}
li.domevents {background-color: #fbceed}
li.exi {background-color: #a4a1a1}
li.egov {background-color: #d4e5be}
li.ecommerce {background-color: #afabe1}
li.earl {background-color: #a6c5dd}
li.geospatial {background-color: #f09a6d}
li.gld {background-color: #8bc8fa}
li.graphics {background-color: #82e3ff}
li.grddl {background-color: #ffb1b2}
li.lifesciences {background-color: #9bbada;}
li.html {background-color: #ff9c49}
li.htmlua {background-color: #fbeede}
li.http {background-color: #99dcd4}
li.indieui {background-color: #dbd372}
li.inkml {background-color: #b68bbf}
li.i18n {background-color: #b5e6fd}
li.i18nwebarch {background-color: #B8FF92}
li.i18nauthoring {background-color: #dedeea}
li.i18nwebofservices {background-color: #ffb4b4}
li.i18nxml {background-color: #fef7cd}
li.js {background-color: #f5c45d}
li.linkeddata {background-color: #d6dae9}
li.mathml {background-color: #b3a7a5}
li.mediaaccess {background-color: #bf6972}
li.mobileaccessibility {background-color: #76cdf1}
li.mobileapp {background-color: #9fc814}
li.mobile {background-color: #afb0ab}
li.mw4d {background-color: #8dc688}
li.multimodal {background-color: #fa8888}
li.owl {background-color: #b87db0}
li.p3p {background-color: #aaa5a1}
li.pics {background-color: #B987B0}
li.uaplugin {background-color: #90bcb4}
li.png {background-color: #d6e6e3}
li.powder {background-color: #d1f0f5}
li.privacy {background-color: #bbb2b0}
li.provenance {background-color: #f0ffbb}
li.qa {background-color: #f0fef0}
li.rdb2rdf {background-color: #d0c5b1}
li.rdf {background-color: #cdccfe}
li.rdfbp {background-color: #f8c1af}
li.rdfrel {background-color: #71c77a}
li.rdfvocabs {background-color: #a0ffff}
li.rdfa {background-color: #56aba2}
li.rif {background-color: #edeef3}
li.agentsecurity {background-color: #7598ad}
li.webappsec {background-color: #7ba4c2}
li.sawsdl {background-color: #d8ffff}
li.sml {background-color: #73A4DC}
li.shacl {background-color: #ffdeff}
li.skos {background-color: #c1cf95}
li.smil {background-color: #ffeb70}
li.soap {background-color: #ffe24f}
li.socialweb {background-color: #cc9759}
li.sparql {background-color: #d8b5bc}
li.xmlstyle {background-color: #dfffc9}
li.svg {background-color: #70a8fc}
li.svgmobile {background-color: #80ffff}
li.timedtext {background-color: #d7a35e}
li.uri {background-color: #d5c8ff}
li.uaag {background-color: #c1b9b8}
li.voice {background-color: #dfffc9}
li.tv {background-color: #98c1dd}
li.webappsmanifest {background-color: #A6FFFF}
li.webarch {background-color: #adfb94}
li.components {background-color: #f6cdc8}
li.wcag {background-color: #7bc2d4}
li.webfonts {background-color: #d4a9ff}
li.webidl {background-color: #e5ff4d}
li.webpayments {background-color: #b5ffea}
li.performance {background-color: #99a0b0}
li.webrtc {background-color: #e2e4af}
li.wsaddr {background-color: #a4a0d5}
li.wsarch {background-color: #e5665d}
li.choreography {background-color: #f6e4e2}
li.wspolicy {background-color: #e8e4a3}
li.resaccess {background-color: #969b9c}
li.webcgm {background-color: #cdfb0c}
li.wicd {background-color: #92d2a3}
li.widgets {background-color: #ff855f}
li.wsdl {background-color: #b5a5a5}
li.xbl {background-color: #9798e1}
li.xforms {background-color: #f8d593}
li.xhtml2 {background-color: #e4a7b4}
li.xhtmlmobile {background-color: #fceee5}
li.xhtmlmod {background-color: #d3f894}
li.xinclude {background-color: #fd7575}
li.xkms {background-color: #94cb76}
li.xlink {background-color: #95b3d4}
li.xml {background-color: #95d3d4}
li.xmlbase {background-color: #f3f4ef}
li.xmlc14n {background-color: #82e3fc}
li.xmlbp {background-color: #edeee9}
li.xmlenc {background-color: #fc8b82}
li.xmlevent {background-color: #f4c482}
li.xmlfragment {background-color: #a7c3aa}
li.xproc {background-color: #1dd803}
li.xmlrel {background-color: #d7d5bc}
li.xmlschema {background-color: #12a1f8}
li.xmlsig {background-color: #8586c6}
li.xop {background-color: #aa7177}
li.xmlid {background-color: #a574ba}
li.xpath {background-color: #e5deee}
li.xpointer {background-color: #faacdd}
li.xquery {background-color: #6fc88d}
li.xsl {background-color: #f4c96f}
li.xslt {background-color: #5da29b}

/* == RWD == */

ul#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Smartphones & tablets */

@media all and (max-width: 920px) {
  ul#container > li{
    width: 45%;
    padding-left: 3%;
    font-size: 90%;
    margin: 0 auto;}

  h3.category .ribbon{
    font-size: 90%;
    }

  .w3c_leftCol, h1.logo{
      min-width: 150px;
    }

  .title{
      padding: 15px;
    }

  .bct{
      padding: 10px 5px;
    }

  .main_nav{
      padding: 7px 5px;
    }

  .w3c_sec_nav{
      padding: 3px 0px;
    }

  #w3c_nav{
      padding-bottom: 10px;
    }

    .Retired::after, .LastCall::after, .WorkingDraft::after, .CandidateRecommendation::after, .ProposedRecommendation::after, .Recommendation::after, .GroupNote::after, .ProposedEditedRecommendation::after, .ObsoleteRec::after {
      margin-left: 15px;
      background-color: #036;
      color: white;
      font-size: 9px;
      padding: 4px 15px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      cursor: pointer;
      vertical-align: middle;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

    h2.WorkingDraft, h2.Retired, h2.LastCall, h2.CandidateRecommendation, h2.ProposedRecommendation, h2.Recommendation, h2.GroupNote, h2.ProposedEditedRecommendation, h2.ObsoleteRec {
      font-size: 135%;
      padding-bottom: 3px;
    }

    ul.ft-menu > li.ft-field > div.ft-panel > fieldset.ft-search > input {
        width:80%;
    }

    ul.ft-menu > li.ft-field > div.ft-panel{
        min-width: 180px;
        left:105%;
    }
}

/* Smartphones only */
@media all and (max-width: 520px) {

    ul.editorlist {
      padding-left: 5px;
}

    ul ul, ol ol {
      padding: 0px 3px;
}

    #placeHolder{
      font-size: 90%;
      padding: 0 15px;
    }

    .tMargin{
      margin-top: 0 !important;
    }

    #w3c_mast h1{
      width: 100%;
    }
}
